<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	<add key="Launcher1" value="HTML|\tools\sumatrapdf.exe \html\werkbladen\00-mijn-eerste-website-allewerkbladen.pdf" />
	<add key="Launcher2" value="Rekenmachine|\tools\sumatrapdf.exe \javascript\Rekenmachine-Naamfun-Snake.pdf" />
	<add key="Launcher3" value="Lingo|\tools\sumatrapdf.exe \javascript\Lingo.pdf" />
	<add key="Launcher4" value="Sterren plukken|\tools\sumatrapdf.exe \javascript\Sterren-Plukken-met-Phaser.pdf" />	
	<add key="Launcher5" value="Flappy Bird|\tools\sumatrapdf.exe \javascript\Flappy-Bird.pdf" />
	<add key="Launcher6" value="Space Invaders|\tools\sumatrapdf.exe \javascript\Space-Invaders.pdf" />
	<!-- <add key="Launcher6" value="Zoek de schatkist|\tools\sumatrapdf.exe \javascript\Game-Zoek-de-Schatkist.pdf" /> -->
	<add key="Launcher7" value="Snake|\tools\sumatrapdf.exe \javascript\Rekenmachine-Naamfun-Snake.pdf" />    
	<add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>